.sentence {
  font-size: 20px;
  font-family: 'Roboto';
}
.button {
  border-color: #ff0b37;
  background-color: #ffffff;
  border-radius: 5px;
  border-style: solid;
  color: #ff0b37;
  font-size: 15px;
  outline: none;
  width:70px;
  height:30px;
}
.list-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  width: 100%;
}
